body {
    background-color: #f6f5fa;
}
.input_text{
    border: 1px solid #343f5e;
    border-radius: 5px;
    height: 25px;
    width: 80%;
    padding: 2px 20px 2px 20px;
    outline: 0;
    background-color: #fff;
    font-size: 1em;
}
.submit{
    border: 1px solid #343f5e;
    border-radius: 5px;
    height: 32px;
    width: 17%;
    padding: 2px 20px 2px 20px;
    outline: 0;
    color: #fff;
    background-color: #8744f0;
    font-size: 1em;
}
.header {
    background-color: #343f5e;
    color: #fff;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 1em;
    height: 70px;
    padding: 7px;
    padding-left: 10px;
    margin-top: -30px;
    margin-left:-10px;
    margin-right: -10px;
}
.header h1 {
    font-size: 2.3em;

}
.header p {
    font-size: 1.2em;
}
.input {
    position: relative;
    display: flex;
    padding-top: 21px;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f6f5fa;
    border-color: #343f5e;
}
.search-icon {
    position: absolute;
    top: 30px;
    left: 6px;
    width: 12px;
  }

  .clear-icon {
    position: absolute;
    top: 30px;
    left: 1100px;
    width: 12px;
    cursor: pointer;
  }
.container {
    text-align: center;
}
.output {
    font-family: Arial, Helvetica, sans-serif;
    padding-top: 10px;
    color: black;
    text-align: center;
}
footer {
    font-family: Arial, Helvetica, sans-serif;
    position: fixed;
    bottom: 10px;
}
footer a {
    text-decoration: none;
    color: black;
}
footer a:hover {
    color: #8744f0;
    text-decoration: underline;
}
@media screen and (max-width: 1300px){
    .clear-icon {
        position: absolute;
        top: 30px;
        left: 970px;
        width: 12px;
        cursor: pointer;
      }
@media screen and (max-width: 1100px){
    .clear-icon {
        position: absolute;
        top: 30px;
        left: 800px;
        width: 12px;
        cursor: pointer;
    }     
@media screen and (max-width: 812px){
    .clear-icon {
        position: absolute;
        top: 30px;
        left: 610px;
        width: 12px;
        cursor: pointer;
      }
    .input {
        position: relative;
        display: flex;
        padding-top: 21px;
        font-family: Arial, Helvetica, sans-serif;
        background-color: #f6f5fa;
        border-color: #343f5e;
        width: 100%;
    }  
    .submit{
        text-align: center;
        border: 1px solid #343f5e;
        border-radius: 5px;
        height: 32px;
        width: 20%;
        padding: 2px 5px 2px 5px;
        outline: 0;
        color: #fff;
        background-color: #8744f0;
        font-size: 1em;
        
    }

}
@media screen and (max-width: 768px){
    .clear-icon {
        position: absolute;
        top: 30px;
        left: 540px;
        width: 12px;
        cursor: pointer;
      }
}
@media screen and (max-width: 667px){
    .clear-icon {
        position: absolute;
        top: 30px;
        left: 500px;
        width: 12px;
        cursor: pointer;
      }
}
@media screen and (max-width: 420px){
    .clear-icon {
        position: absolute;
        top: 30px;
        left: 300px;
        width: 12px;
        cursor: pointer;
      }
}
@media screen and (max-width: 380px){
    .clear-icon {
        position: absolute;
        top: 30px;
        left: 270px;
        width: 12px;
        cursor: pointer;
      }
}
@media screen and (max-width: 361px){
    .clear-icon {
        position: absolute;
        top: 30px;
        left: 260px;
        width: 12px;
        cursor: pointer;
      }
}
